<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>森林防火</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <style>
        /*对layui中的样式进行重写*/
        .layui-tab-content {
            padding: 0;/*layui-tab-content:默认有padding: 10px;的值，因为iframe的绝对定位脱离文档流，所以会存在20px的空白空间*/
        }
        .show-frame {
            top: 50px!important;
            /*默认.layui-layout-admin .layui-body {
                top: 60px;
                bottom: 44px;
            }*/
            overflow: hidden;/*消除浏览器最右边的滚动条*/
        }
        .frame {
            position: absolute;
            padding: 10px;/*与layui-footer隔开一段距离*/
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:replace="/common/header :: headerBar"></div>
    <div th:replace="/user/lefter :: lefterBar"></div>

    <div class="layui-body show-frame">
        <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="empTab">
            <br>
            <ul class="layui-tab-title">
                <li class="layui-this "><i class="layui-icon">视频查看</i></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="">
                        <br>
                        <div class="layui-form-item" >
                            <label class="layui-form-label">视频:</label>
                            <div>
                                <video th:src="${videoSeeUrl}" style="width: auto;height: 600px" controls="controls" autoplay="autoplay"></video>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">视频ID:</label>
                            <div class="layui-input-inline">
                                <label>
                                    <input name="vidID" style="border: none; outline: none" type="text" autocomplete="off" class="layui-input" readonly th:value="${theVideoToSee.vidID}">
                                </label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">视频名:</label>
                            <div class="layui-input-block">
                                <label>
                                    <input name="vidName" style="border: none; outline: none" type="text" autocomplete="off" class="layui-input" readonly th:value="${theVideoToSee.vidName}">
                                </label>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">视频类型:</label>
                            <div class="layui-input-inline">
                                <label>
                                    <input name="vidType" style="border: none; outline: none" type="text" autocomplete="off" class="layui-input" readonly th:value="${theVideoToSee.vidType==1?'监控视频':(theVideoToSee.vidType==2?'手动录制视频':'报警视频')}">
                                </label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn layui-btn-warm" th:if="${session.user.userRight==2}"><a class="btn btn-sm btn-danger" th:if="${session.user.userRight==2}" th:href="@{/createVideoAlarm/}+${theVideoToSee.vidID}">报警</a></button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="/common/footer :: footerBar"></div>
</div>
<script src="../layui/layui.js"></script>


<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        var $ = layui.$;
        $("[name=t1]").click(function () {
            var id = $(this).attr("id");
            var content = $(this).attr("content");
            if($("li[lay-id="+id+"]").length===0){
                element.tabAdd("empTab",{
                    title:$(this).attr("title"),
                    content:"<iframe src='"+content+"' class='frame' frameborder='0'></iframe>",
                    id:id
                })
            }
            element.tabChange('empTab',id)
        })

    });
</script>

</body>
</html>
